.section-title {
  
    /*background-image: url('');*/
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center;
  

    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
    color: #f3be3a;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #333;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: auto; /* Pushes footer to the bottom */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #1effd2; /* Highlight color for the heading */
}

.footer-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 16px;
}

.footer-links a:hover {
    color: #1e90ff; /* Change color on hover */
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a img {
    width: 30px; /* Set icon size */
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1); /* Slightly enlarge icons on hover */
}

.footer p {
    margin: 0;
    font-size: 14px;
}